@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MZBlog.Core.ViewProjections.Admin.AuthorProfileViewModel>
@{
    Layout = "_AdminLayout.cshtml";
}
<div class="well col-md-4 col-md-offset-4">
    <form action="~/mz-admin/change-profile" method="post" role="form">
        <h2>个人信息</h2>
        <div class="form-group">
            <input type="email" class="form-control" name="NewEmail" placeholder="Email" value="@Model.Email" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="NewDisplayName" placeholder="显示名" value="@Model.DisplayName" />
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
</div>