@page
@model MyApp.Namespace.NotFoundModel
@{
    Layout= null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
</head>
<body>
    <div class="row align-items-center justify-content-center" style="height: 90vh;">
        <div class="text-center">
                <div>OOPS! PAGE NOT FOUND</div>
            <h1 style="font-size:800%">404</h1>
            <p>I AM SORRY, BUT THE PAGE YOU REQUESTED WAS NOT FOUND</p>
        </div>
    </div>
</body>
</html>