@page "/admin/posts/new"
@model MZBlog.Web.Pages.Admin.NewPostModel
@{
    ViewData["Title"] = "新建";
}

@section Headers{
    <link rel="stylesheet" asp-append-version="true" href="~/lib/editor.md/css/editormd.min.css" />
}

<h1>博客文章</h1>

<form method="post">
    <div class="form-group">
        <label for="title">标题</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" placeholder="输入标题" required>
        <small id="titleHelp" class="form-text text-muted">前端显示的文章标题</small>
    </div>
    <div class="form-group">
        <label for="titleSlug">Slug</label>
        <input type="text" class="form-control" id="titleSlug" name="titleSlug" aria-describedby="slugHelp" placeholder="Slug" required>
        <small id="slugHelp" class="form-text text-muted">前端页面路由的slug</small>
    </div>
    <div class="form-group">
        <label for="tags">标签</label>
        <input type="text" class="form-control" id="tags" name="tags" placeholder="请输入标签（用逗号分隔）" required>
    </div>
    <div class="form-group">
        <label for="markdown">正文</label>
        <div id="editor">
            <textarea class="editormd-markdown-textarea" id="markdown" name="markdown" rows="15"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="pubDate">发布日期</label>
        <input type="date" class="form-control" id="pubDate" name="pubDate" style="width:200px" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="published" id="published" value="true">
        <label class="form-check-label" for="published">公开发布</label>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        提交
    </button>
</form>
@section Scripts {
    <script src="~/lib/editor.md/editormd.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editor", {
                height: "400px",
                path : "/lib/editor.md/lib/"
            });
        });
    </script>
}