<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            关于博主
        </strong>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img id="img-ymz" src="~/content/images/ymz.jpg" alt="衣明志" class="img-circle" />
        </div>
        <h3 class="text-center">
            <a href="http://weibo.com/qihangnet">
                @@衣明志
            </a>
        </h3>
        <div>
            <a href="http://generpoint.com/" target="_blank">GenerPoint</a>
            创始人，曾连任9年微软最有价值专家(
            <a href="http://mvp.microsoft.com/zh-cn/" target="_blank">MVP</a>)，
            <a href="http://www.msdn.com/" target="_blank">MSDN</a>
            特约讲师
        </div>
    </div>
</div>