<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            友情链接
        </strong>
    </div>

    <div class="list-group">
      <a href="http://www.linuxdot.net" class="list-group-item" target="_blank">Linux DotNET 大本营</a>
      <a href="http://www.cnblogs.com/shanyou" class="list-group-item" target="_blank">张善友的博客</a>
      <a href="http://www.5iadmin.com" class="list-group-item" target="_blank">网管小王的博客</a>
      <a href="http://www.ugia.cn" class="list-group-item" target="_blank">UGiA</a>
    </div>
</div>